[Unit]
Description=RaceBox Mini Recorder

After=bluetooth.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1

# TODO: What's the best practice on choosing a user?
User=jeremiah

ExecStart=/usr/bin/env sbcl --non-interactive --no-userinit \
     --eval "(let ((quicklisp-init \"/home/jeremiah/quicklisp/setup.lisp\")) \
               (when (probe-file quicklisp-init) \
                 (load quicklisp-init)))" \
     --eval "(ql:quickload :racebox-tools)" \
     --eval "(rbt:main nil)"

[Install]
WantedBy=multi-user.target